html{
  background-color:#252525;

}
.wrapper{
  display: grid;
  grid-template-areas:
          "header header"
          "search ticketSelected"
          "tickets ticketSelected";
  grid-template-rows: 45px 25px 1fr ;
  grid-template-columns: 380px 3fr;
  grid-gap: 10px;
  padding: 10px;
}
.search{
  grid-area: search;
}
.search input{
  box-sizing: border-box;
  width: 380px;
  height: 25px;
  background: #252525;
  border: 1px solid #3e3e3e;
  font-size: 10pt;
  float: left;
  color: #63717f;
  border-radius: 2px;
}

.mainPage{
  grid-area: mainPage;
}